:root {
    --primary-color: #0F2C67;
    --secondary-color: #0076c6;
    --activeLink-color: #F3950D;
    --highlight-color: #F4E185;
    --sample-color: #CD1818;
}

.App {
    height: 100vh;
    /* width: 100vw; */
    /* border: 1px solid brown; */
}