* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* border: 1px solid green; */
}

::-webkit-scrollbar {
    /* display: none; */
    width: 10px;
    /* background-color: #d3dcee; */
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #0F2C67;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: 1px solid slategrey;
}

body {
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
}