* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* border: 1px solid green; */
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
}